.stats {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 2;
	width: 100%;
	height: inherit;
	container-type: inline-size;
}

.stats .stats__panel {
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--spacing-12);
	max-width: 240px;
	width: 100%;
	background-color: var(--color-black-alpha-85);
	border: 1px solid var(--color-white-alpha-25);
	border-radius: 8px;
	padding: var(--spacing-12);
	pointer-events: auto;
	top: 8px;
}

@container (width > 480px) and (width <= 768px) {
	.stats .stats__panel {
		max-width: 360px;
		padding: var(--spacing-24);
	}
}

@container (width > 768px) {
	.stats .stats__panel {
		max-width: 600px;
		padding: var(--spacing-24);
	}
}

.stats .stats__panel .stats__item {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	height: auto;
	column-gap: var(--spacing-8);
	flex-basis: calc(50% - var(--spacing-12));
	flex-grow: 1;
	flex-shrink: 1;
}

@container (width > 480px) {
	.stats .stats__panel .stats__item {
		flex-basis: calc(25% - var(--spacing-12));
	}
}

.stats .stats__panel .stats__item .stats__icon-wrapper {
	display: none;
	padding: var(--spacing-8);
	border-radius: 8px;
	width: fit-content;
	height: fit-content;
	flex-shrink: 0;
}

@container (width > 480px) {
	.stats .stats__panel .stats__item .stats__icon-wrapper {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
}

.stats .stats__panel .stats__item .stats__icon-wrapper svg {
	width: 100%;
	height: 100%;
}

.stats .stats__panel .stats__item.stats__item--network .stats__icon-wrapper {
	background-color: var(--color-blue-900);
}

.stats .stats__panel .stats__item.stats__item--network {
	color: var(--color-blue-400);
}

.stats .stats__panel .stats__item.stats__item--network .stats__item-data {
	color: var(--color-blue-400);
}

.stats .stats__panel .stats__item.stats__item--video .stats__icon-wrapper {
	background-color: var(--color-purple-900);
}

.stats .stats__panel .stats__item.stats__item--video {
	color: var(--color-purple-400);
}

.stats .stats__panel .stats__item.stats__item--video .stats__item-data {
	color: var(--color-purple-400);
}

.stats .stats__panel .stats__item.stats__item--audio .stats__icon-wrapper {
	background-color: var(--color-green-900);
}

.stats .stats__panel .stats__item.stats__item--audio {
	color: var(--color-green-400);
}

.stats .stats__panel .stats__item.stats__item--audio .stats__item-data {
	color: var(--color-green-400);
}

.stats .stats__panel .stats__item.stats__item--buffer .stats__icon-wrapper {
	background-color: var(--color-orange-900);
}

.stats .stats__panel .stats__item.stats__item--buffer {
	color: var(--color-orange-400);
}

.stats .stats__panel .stats__item.stats__item--buffer .stats__item-data {
	color: var(--color-orange-400);
}

.stats .stats__panel .stats__item .stats__item-detail {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	gap: var(--spacing-4);
}

.stats .stats__panel .stats__item .stats__item-detail .stats__item-title {
	font-size: 12px;
	font-weight: 500;
	text-transform: capitalize;
	color: var(--color-gray-100);
	font-family: "Segoe UI", Roboto, sans-serif;
	letter-spacing: 1px;
	line-height: 12px;
}

.stats .stats__panel .stats__item .stats__item-detail .stats__item-data {
	font-size: 16px;
	font-weight: bold;
	font-family: "Segoe UI", Roboto, sans-serif;
	white-space: pre-wrap;
	line-height: 1.5;
}
