@import "../shared/variables.css";
@import "../shared/flex.css";
@import "../shared/button.css";

.publishControlsContainer {
	display: flex;
	justify-content: space-around;
	gap: 16px;
	margin: 8px 0;
	align-content: center;
}

.publishSourceSelectorContainer {
	display: flex;
	gap: 16px;
}

.publishSourceButtonContainer {
	display: flex;
	position: relative;
	align-items: center;
}

.publishSourceButton {
	opacity: 0.5;
}

.publishSourceButton.active {
	opacity: 1;
}

.mediaSourceVisibilityToggle {
	font-size: 0.75em;
	cursor: pointer;
	padding-left: 4px;
}

.button.button--media-source-selector,
.button.button--media-source-selector:hover:not(:disabled) {
	background-color: unset;
	box-shadow: none;
	border: unset;
}

.mediaSourceSelector {
	position: absolute;
	top: 100%;
	transform: translateX(-50%);
	left: 50%;
	display: block;
}

.hidden {
	display: none;
}
